body{
    margin: 0;
    padding: 0;
    min-height: 100vh;

    
    display: flex;
    justify-content: center;
    align-items: center;


    background-color: rgb(97, 129, 131);
}

button{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: aqua;

    font-weight: bolder;

    cursor: pointer;
    /* cursor is a new thing that I learn here. */


    transition: transform 0.5s ease;
    /* First I use transition: transform 5s ease 2s; but it does not work why given in summary */
}

button:active{
    transform: scale(0.85);
}