body{
    margin: 0;
    padding: 0;
    min-height: 100vh;

    
    display: flex;
    justify-content: center;
    align-items: center;


    background-color: rgb(97, 129, 131);
}

button{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: aqua;

    font-weight: bolder;

    cursor: pointer;

    transition: color 0.5s ease;
    transition: background-image 1s, ease;
    transition: transform 0.5s ease;
}

button:active{
    color: white;
    background-image: linear-gradient(to bottom right, rgb(0, 217, 255), rgba(0, 0, 0, 0.5));
    transform: scale(0.85);
}